<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1 id="titulo">
    Bienvenido a Predictor {{ title }}!
  </h1>
  <hr>
  <br>
  <h3>Letras: <input type="text" placeholder="Escriba las Letras" ></h3>
  <h3>N° Caracteres: <input type="text" placeholder="Digite el N° de Caracteres" ></h3>
  <br>
  <hr>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">PREDECIR</button>  
</div>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Opciones</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>gánster</td>
      <td>tijeras</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>gradius</td>
      <td>trident</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>negrita</td>
      <td>turista</td>
    </tr>
  </tbody>
</table>